<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <!--<a class='navbar-brand' [routerLink]="['modcli']" (click)="iramodcli()">    <span class='glyphicon glyphicon-user'></span> Mis Datos</a>-->
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>

                <!--<li [routerLinkActive]="['link-active']" (click)="iniciarCompraa()">
                    <a [routerLink]="['comprar'] ">
                        <span class='glyphicon glyphicon-shopping-cart'></span> Iniciar una Compra
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" (click)="listarordentaller()">
                    <a [routerLink]="['listar'] ">
                        <span class='glyphicon glyphicon-wrench'></span> Ver Estado de la Orden de Taller
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['envmsj']" (click)="envmesj()">
                        <span class='glyphicon glyphicon-envelope'></span> Enviar Mensaje
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['listmsj']" (click)="listarmsj()">
                        <span class='glyphicon glyphicon-list'></span> Listar Mensajes
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['listmsj']" (click)="listarcompra()">
                        <span class='glyphicon glyphicon-list'></span> Listar Compras
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['chat']" (click)="chat()">
                        <span class='glyphicon glyphicon-comment'></span> Chat
                    </a>
                </li>-->
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/logeo']">
                        <span class='glyphicon glyphicon-log-in'></span> Iniciar Sesion
                    </a>
                </li>
                <!--<li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['Salir']" (click)="logout()">
                        <span class='glyphicon glyphicon-log-out'></span> Cerrar Sesion
                    </a>
                </li>-->
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/regcli']">
                        <span class='glyphicon glyphicon-registration-mark'></span> Registrarse
                    </a>
                </li>



                <li [routerLinkActive]="['link-active']">
                    <a href="/apk.rar">
                        <span class='glyphicon glyphicon-arrow-down'></span> Descargar APK (Ver Envio)
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
